.wrapper {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.leftBox {
  width: 60%;
  box-sizing: border-box;
}

.rightBox {
  background-color: rgba(0, 0, 0, 0.207);
  width: 35%;
  padding: 0.5rem;
}
.img {
  width: 100%;
}
