.wrapper {
  width: 70%;
  left: 0;
  right: 0;
  top: 1rem;
  margin: auto;
  position: fixed;
  z-index: 5;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  box-sizing: border-box;
}
.wrapper Link {
  color: black;
}
.logoBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  text-decoration: none;
  color: #f1b4d3;
}
.logoCake {
  width: 3rem;
  height: 4rem;
  object-fit: cover;
}
.navBar {
  display: flex;
  align-items: center;
}

.logOut {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1rem;
}
.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
}
.logoUser {
  color: black;
  text-decoration: none;
}
.logoUser:hover {
  color: #f1b4d3;
}
