.commentsWrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.242);
  padding: 0.5rem;
  box-sizing: border-box;
}
.textArea {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  resize: none;
}
