.wrapper {
  position: fixed;
  width: 400px;
  height: 250px;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid black;
}
.wrapper h2 {
  margin: 0;
  color: red;
}
.exit {
  width: 100%;

  text-align: right;
  cursor: pointer;
}
.wrapperContent {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.btn {
  display: flex;
  gap: 1rem;
}

.delBtn {
  background-color: red;
  color: white;
}
